{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>FPlytics</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'home/main.css' %}"
        />
    </head>
    <body class="bg-pri">
        <div class="relative container-xl mx-auto">
            <header class="relative flex justify-center items-center h-12 shadow-md">
                <div 
                    class="absolute top-4 left-3 w-6 h-6 flex flex-col justify-around"
                >
                    <span class="bg-sec w-full h-1"></span>
                    <span class="bg-sec w-full h-1"></span>
                    <span class="bg-sec w-full h-1"></span>
                </div>
                <div class="flex justify-center items-center">
                    <h1 class="text-sec text-2xl tracking-wide">FPLytics</h1>
                </div>
            </header>
            <nav
                class="hidden absolute top-12 border border-red-500 border-solid w-4/5"
            >
                <ul>
                    <li class="px-2 py-1 cursor-pointer"><a href="{% url 'fpl-home' %}">Home</a></li>
                    <li class="px-2 py-1 cursor-pointer"><a href="{% url 'fpl-dashboard' %}">Stats</a></li>
                    <li class="px-2 py-1 cursor-pointer"><a href="#">Analytics</a></li>
                </ul>
            </nav>
            {% block content %}{% endblock %}
        </div>
        <script src="" async defer></script>
    </body>
</html>
