html,
body {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(20, 20, 20);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    height: 3rem;
    padding: 0.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header > .nav-btn {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    flex-direction: bottom;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 1.5rem;
}

.nav-btn > .nav-line {
    background-color: grey;
    height: 0.25rem;
    width: 100%;
}

.header > .title > h1 {
    font-size: 1.5rem;
}
